---
import Slide from "./Slide";
---

<div>
  <div
    class="m-4 rounded-lg xmd:mb-10 xmd:m-0 bg-medium_gray xmd:rounded-l-none xmd:rounded-r-lg text-white xmd:h-auto xmd:w-[60%] xmd:grid xmd:grid-cols-12 mac:w-[853px] hd:w-[911px] fullhd:w-[1141px]"
    id="aboutus"
  >
    <div class="xmd:col-span-2"></div>
    <div class="xmd:col-span-10 xmd:my-auto">
      <p
        style={{
          background: "linear-gradient(68deg, #47f6ab 14.39%, #60e3eb 79.59%)",
          backgroundClip: "text",
          WebkitBackgroundClip: "text",
          WebkitTextFillColor: "transparent",
        }}
        class="font-bold text-[32px] aboutVioFitTitleMobile text-center pt-[48px] xmd:text-5xl xmd:mb-[25px] xmd:text-left"
      >
        Sobre Viofit
      </p>
      <div class="xmd:hidden p-[16px]">
        <p class="text-[16px] mt-5">
          La idea surge de armar una institución donde podamos brindar el
          servicio al cual nos dedicamos dentro de la rehabilitación y el
          entrenamiento.
        </p>
        <p class="text-[16px] mt-5">
          Hay mucha gente que dejó el gimnasio convencional porque no tenía un
          profe atrás que lo guiara. Ellos no tienen por qué saber cómo entrenar
          o qué movimientos realizar.
        </p>
        <p class="text-[18px] font-bold mt-5 mb-8">Nosotros estamos para eso</p>
      </div>
      <div class="hidden xmd:inline">
        <p
          class="text-white text-[18px] max-w-[500px] mb-7 max-xl:max-w-[400px] max-lg:max-w-[300px]"
        >
          Éramos tres estudiantes que habían empezado a trabajar en la clínica
          de un profesor, haciendo unas pasantías. Entre ideas e ideas, nos
          fuimos reuniendo y surgió este proyecto.
        </p>
        <p
          class="text-white text-[18px] max-w-[500px] mb-7 max-xl:max-w-[400px] max-lg:max-w-[300px]"
        >
          Surgió la idea de armar una institución donde podamos brindar el
          servicio al cual nos dedicamos dentro de la rehabilitación y el
          entrenamiento. Luego fue cuestión de encontrar un lugar hasta que
          llegamos a este de calle Montevideo y Corrientes, donde vimos un local
          con espacio para las instalaciones y fueron unos meses largos para
          poder construir todo
        </p>
        <p
          class="text-white text-[18px] max-w-[500px] mb-9 max-xl:max-w-[400px] max-lg:max-w-[300px]"
        >
          Hay mucha gente que dejó el gimnasio convencional porque no tenía un
          profe atrás que lo guiara. Ellos no tienen por qué saber cómo entrenar
          o qué movimientos realizar.
        </p>
        <p class="text-white text-[24px] font-bold pb-[48px]">
          Nosotros estamos para eso
        </p>
      </div>
    </div>
    <div class="pb-[48px] xmd:hidden">
      <Slide client:only />
    </div>
  </div>
</div>

<div
  class="hidden xmd:block absolute mt-[-500px] left-1/2 xmd:transform xmd:max-xmd:mt-[-650px] xmd:top-[1300px] lg:top-[1315px] xl:top-[1275px] mac:left-[720px] mac:top-[1440px] fullhd:left-[950px]"
>
  <Slide client:only />
</div>
