---
import { Image } from "astro:assets";
---

<div class="bg-medium_gray text-[#A6A6A6]">
  <div class="block xmd:hidden">
    <div class="flex flex-col justify-center text-center">
      <Image
        src="https://sos.neowyze.tech/viofit/footer/viofit_logo_2.webp"
        alt="viofit logo"
        class="pt-[60px] w-fit h-fit mx-auto max-w-[150px]"
        width={24}
        height={24}
      />
      <div class="h-[1px] w-[80%] mx-auto bg-[#A59C9C] mt-[20px] mb-[63px]">
      </div>
      <div
        class="sm:flex sm:flex-row items-start justify-center sm:gap-14 md:gap-20"
      >
        <div class="flex flex-col items-center justify-center sm:items-start">
          <p class="text-white text-[29px] pb-5">Sedes</p>
          <a
            class="link link-hover flex"
            href="https://maps.app.goo.gl/fFwfdgv21dgNLCe88"
            target="_blank"
          >
            <Image
              src="/icons/footer/pin.svg"
              alt="pin icon"
              width={16}
              height={24}
            />
            <p>Corrientes 1613</p>
          </a>
          <a
            class="link link-hover flex text-center justify-center sm:text-left sm:items-start sm:justify-start"
            href="https://maps.app.goo.gl/i29sRP1mXNNWctJm7"
            target="_blank"
          >
            <Image
              src="/icons/footer/pin.svg"
              alt="pin icon"
              width={16}
              height={24}
            />
            <p>Mitre 1380</p>
          </a>
        </div>
        <div class="flex flex-col items-center justify-center sm:items-start">
          <p class="text-white text-[29px] mt-[44px] sm:mt-0 pb-5">Horarios</p>
          <p>Lunes a Viernes</p>
          <p>de 8 a 21hs.</p>
        </div>
        <div class="flex flex-col items-center justify-center sm:items-start">
          <p class="text-white text-[29px] mt-[44px] sm:mt-0 pb-5">Contacto</p>
          <p>+341 549-1078</p>
        </div>
      </div>
      <div
        class="w-[80%] flex justify-center mx-auto gap-[32px] mt-[80px] pb-20"
      >
        <a
          href="https://www.instagram.com/viofit.rosario/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image
            src="/icons/footer/instagram.svg"
            alt="instagram icon"
            width={24}
            height={24}
          />
        </a>
        <a
          href="https://www.linkedin.com/company/viofit-salud-entrenamiento/about/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image
            src="/icons/footer/linkedin.svg"
            alt="linkedin icon"
            width={24}
            height={24}
          />
        </a>
      </div>
    </div>
  </div>

  <div class="hidden xmd:flex flex-col items-center justify-center">
    <footer
      class="footer py-10 text-base-content w-[600px] lg:w-[790px] xl:w-[1008px] mac:w-[1144px] hd:w-[1225px] fullhd:w-[1552px] fullhd:max-w-[1552px]"
    >
      <div class="flex gap-6 justify-between">
        <div>
          <a href="/">
            <Image
              src="https://sos.neowyze.tech/viofit/footer/viofit_logo_2.webp"
              alt="viofit logo"
              class="min-w-[150px] max-lg:min-w-[120px] max-w-[170px]"
              width={170}
              height={60}
            />
          </a>
        </div>
        <div class="flex gap-4 lg:gap-12 text-[#969797]">
          <div>
            <div class="text-[18px] text-white pb-5 lg:text-[29px]">Sedes</div>
            <div class="flex flex-col">
              <a
                class="link link-hover flex text-[14px] lg:text-base"
                href="https://maps.app.goo.gl/fFwfdgv21dgNLCe88"
                target="_blank"
              >
                <Image
                  src="/icons/footer/pin.svg"
                  alt="pin icon"
                  width={16}
                  height={24}
                />
                Corrientes 1613
              </a>
              <a
                class="link link-hover flex text-[14px] lg:text-base"
                href="https://maps.app.goo.gl/i29sRP1mXNNWctJm7"
                target="_blank"
              >
                <Image
                  src="/icons/footer/pin.svg"
                  alt="pin icon"
                  width={16}
                  height={24}
                />
                Mitre 1380
              </a>
            </div>
          </div>
          <div class="w-[135px]">
            <div class="text-[18px] lg:text-[29px] text-white pb-5">
              Horarios
            </div>
            <p class="text-[14px] lg:text-base">Lunes a Viernes de 8 a 21hs.</p>
          </div>
          <div>
            <div class="text-[18px] lg:text-[29px] text-white pb-5">
              Contacto
            </div>
            <a
              class="link link-hover text-[14px] lg:text-base"
              href="https://api.whatsapp.com/send?phone=543415491078"
              target="_blank">+341 549-1078</a
            >
          </div>
        </div>
      </div>
    </footer>
    <div
      class="h-[1px] w-[600px] lg:w-[790px] xl:w-[1008px] mac:w-[1144px] hd:w-[1225px] fullhd:w-[1552px] mx-auto bg-[#A59C9C]"
    >
    </div>
    <div
      class="w-[600px] lg:w-[790px] xl:w-[1008px] mac:w-[1144px] hd:w-[1225px] fullhd:w-[1552px] flex mx-auto gap-[32px] mt-[20px] pb-10"
    >
      <a
        href="https://www.instagram.com/viofit.rosario/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src="/icons/footer/instagram.svg"
          alt="instagram icon"
          width={24}
          height={24}
        />
      </a>
      <a
        href="https://www.linkedin.com/company/viofit-salud-entrenamiento/about/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src="/icons/footer/linkedin.svg"
          alt="linkedin icon"
          width={24}
          height={24}
        />
      </a>
    </div>
  </div>
</div>
