<button class="hidden xmd:block fixed xmd:right-4 bottom-4 z-30">
  <a href="https://api.whatsapp.com/send?phone=543415491078" target="_blank">
    <img
      src="/icons/whatsapp_logo.png"
      alt="whatsapp logo"
      class="size-[50px]"
    />
  </a>
</button>
